import React, { useMemo } from 'react';

// import { Row, Col, Button, Divider } from 'antd';

// import { Omit } from '../_utils/type';

import './style/index.less';

// 主要接口
export interface I{{ properCase name }} {
  /*
  *
  * @default info
  */
  title?: string;
}

const {{ properCase name }}: React.FC<I{{ properCase name }}> = props => {
  return <div>{{ properCase name }} is awesome</div>;
};

export default {{ properCase name }};
